*
{
	margin: 0;
	padding: 0;
}
.margin
		{
			margin-top: 1.5%;
		}
hr
		{
			width: 90%;
		}
body
{
	font-family: 'candara';
	background: rgb(40,140,280);
}

.ul
{
	position: relative;
	list-style: none;
}
.li
{
	outline-style: none;
	margin-right: 1%;
	font-size: 4pc;
	background: black;
	width: 25%;
	color: white;
	border-radius: 10px;
	filter: opacity(80%);
	transition: .5s;
}
.li:hover
{
	background: rgb(280,140,40);
	text-shadow: 3px 3px 3px black;
}

#logo
{
	margin: 4%;
	transition: 0.7s;
	width: 25%;
	transform: rotate(-30deg);
	filter: brightness(50%);
}
#logo:hover
{
	transform: rotate(330deg);
	filter: brightness(100%);
}