h1
{
	margin:0;
	padding:0;
	font-size: 19pc;
	color: #111;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

h1 span
{
	display: table-cell;
	margin:0;
	padding:0;
	animation: animate 3s linear infinite;
}

h1 span:nth-child(1)
{
	animation-delay: 0s;
}
h1 span:nth-child(2)
{
	animation-delay: .5s;
}
h1 span:nth-child(3)
{
	animation-delay: 1s;
}
h1 span:nth-child(4)
{
	animation-delay: 1.5s;
}
h1 span:nth-child(5)
{
	animation-delay: 2s;
}
h1 span:nth-child(6)
{
	animation-delay: 2.5s;
}

@keyframes animate 
{
	0%,100%
	{
		color: #fff;
		filter: blur(5px);
		text-shadow: 0 0 10px #00b3ff,
					0 0 20px #00b3ff,
					0 0 40px #00b3ff,
					0 0 50px #00b3ff,
					0 0 60px #00b3ff,
					0 0 70px #00b3ff,
					0 0 80px #00b3ff,
					0 0 90px #00b3ff;
	}
	5%,95%
	{
		color: #111;
		filter: blur(0px);
		text-shadow: none;
	}
}
